In [6]:
import re
count=0
pattern=re.compile("ab")
matcher=pattern.finditer("abaababa")
for match in matcher:
    count+=1
    print(match.start,"...",match.end(),"...",match.group())
print("the number of occurance",count)

<built-in method start of re.Match object at 0x000001D1B2588370> ... 2 ... ab
<built-in method start of re.Match object at 0x000001D1B25881D0> ... 5 ... ab
<built-in method start of re.Match object at 0x000001D1B2588370> ... 7 ... ab
the number of occurance 3

In [9]:
matcher=re.finditer("[a,b,c]","a7b@k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

0 ... a
2 ... b

In [10]:
matcher=re.finditer("[^abc]","a7b@k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

1 ... 7
3 ... @
4 ... k
5 ... 9
6 ... z

In [12]:
import re
matcher=re.finditer("[a-z]","a7b@k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

0 ... a
2 ... b
4 ... k
6 ... z

In [13]:
import re
matcher=re.finditer("[0-9]","a7b@k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

1 ... 7
5 ... 9

In [14]:
import re
matcher=re.finditer("[a-zA-z0-9]","a7b@k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

0 ... a
1 ... 7
2 ... b
4 ... k
5 ... 9
6 ... z

In [16]:
import re
matcher=re.finditer("\s","a7bC @k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

4 ...

In [17]:
import re
matcher=re.finditer("\d","a7bC @k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

1 ... 7
7 ... 9

In [19]:
import re
matcher=re.finditer("\D","a7bC @k9z")
for match in matcher:
    
    print(match.start(),"...",match.group())

0 ... a
2 ... b
3 ... C
4 ...
5 ... @
6 ... k
8 ... z

In [20]:
import re
matcher=re.finditer("\W","a7bC @k9z")
for match in matcher:
    print(match.start(),"...",match.group())

4 ...
5 ... @

In [23]:
matcher=re.finditer("","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ...
1 ...
2 ...
3 ...
4 ...
5 ...
6 ...
7 ...
8 ...

In [24]:
matcher=re.finditer("a","abaabaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... a
3 ... a
5 ... a
6 ... a

In [26]:
matcher=re.finditer("a+","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
2 ... aa
5 ... aaa

In [27]:
matcher=re.finditer("a?","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

0 ... a
1 ...
2 ... a
3 ... a
4 ...
5 ... a
6 ... a
7 ... a
8 ...
9 ...

In [28]:
matcher=re.finditer("a{3}","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

5 ... aaa

In [29]:
matcher=re.finditer("a{2,4}","abaabaaab")
for match in matcher:
    print(match.start(),"...",match.group())

2 ... aa
5 ... aaa

In [31]:
s="Learning Python is very easy"
res=re.search("^Learn",s)
if res!=None:
    print("Target String starts with Learn")
else:
    print("Target String not starts with Learn")

Target String starts with Learn

In [33]:
s="Learning Python is very easy"
res=re.search("easy$",s)
if res!=None:
    print("Target String ends with easy")
else:
    print("Target String not ends with easy")

Target String ends with easy

In [36]:
s="Learning Python is very Easy"
res=re.search("easy$",s,re.IGNORECASE)
if res!=None:
    print("Target String ends with easy")
else:
    print("Target String not ends with easy")

Target String ends with easy

In [43]:
s=input("enter your phone no")
int(s)

res=re.search("^[6-9][0-9]{9}",s)
if res!=None:
    print("valid phone number")
else:
    print("invalid phone number")

enter your phone no9696969696
invalid phone number

In [44]:
f1=open("input.txt","r")
f2=open("output.txt","w")
for line in f1:
    list=re.findall("[6-9]\d{9}",line)
    for n in line:
        f2.write(n+"\n")
print("extracte all mobile no")
f1.close()
f2.close()

extracte all mobile no

In [47]:
s=input("enter monile number")
res1=re.search('^[6-9]',s)
if len(s)==10 and res1!=None:
      print("Correct")
else:
      print("not correct")

enter monile number23659
not correct

In [2]:
import re
s=input("enter mail id ")
m=re.fullmatch("\w[a-zA-Z0-9_.]*@gmail[.]com",s)
if m!=None:
    print("its valid email id")
else:
        print("not valid")

enter mail id niveditharnaik999@gmail.com
its valid email id

In [4]:
import pandas as pd

In [5]:
train=pd.read_csv("titanic_train.csv")

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S